<div class="ui stackable segment">
    <h4 class="ui horizontal divider header">
        My Diaries
    </h4>

    {{#each diaries}}
        <div class="ui stacked segment">
            <div class="ui basic right aligned segment">
                <h3>{{title}}</h3>
                <h6>{{date}}</h6>
            </div>

            <div class="ui clearing divider"></div>

            <p class="ui basic segment">
                {{text}}

                <br><br>

                <a class="ui blue tag label">{{likes}} Likes</a>
                <a class="ui red tag label" href="/deletediary/{{../userId}}/{{id}}">Remove Diary</a>
                <a class="ui green tag label" href="/sharediary/{{../userId}}/{{id}}"><i>
                    Currently
                    {{#if sharing}}
                        Public
                    {{else}}
                        Private
                    {{/if}}
                </i></a>
            </p>
        </div>
    {{/each}}
</div>

<br><br>

<div class="ui stackable segment">
    <h4 class="ui horizontal divider header">
        New Diary
    </h4>

    <form class="ui basic segment" action="/diaries/{{userId}}" method="POST">
        <div class="ui form">
            <div class="field">
                <label>Title</label>
                <input rows="2" placeholder="A Day in the Life" name="title">
            </div>
            <div class="field">
                <label>Diary Text</label>
                <textarea placeholder="Dear Diary," name="text"></textarea>
            </div>
        </div>

        <div class="ui horizontal divider"></div>

        <button class="ui blue submit button">
            Submit
        </button>
    </form>
</div>